<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="customConfigurationSection" type="CTECH.Configuracion.Business.CustomConfigurationSection, CTECH.Configuracion" />
  </configSections>
  <appSettings>
    <add key="LogSeverity" value="Debug" />
    <add key="rpt" value="" />
    <add key="Imagen" value="" />
    <add key="sRutaExcel" value="" />
    <add key="BaseAConsolidar" value="REG700,REG700|GWDB_LOC,GWDB_LOC" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <customConfigurationSection>
    <querys>
      <!-- Obtiene el resumen de los movimientos del inventario-->
      <add key="Form1generarConsultasResumen" value="5u0n7Wyyqdw1th+ko1OSA7agz0JkALCIB+VOKHCWwaJ+iuio7nJ3P22DAPgN+h0B8hoYXKnhWu1t7sOwlSIxKSQQmVASYdQxuPpoeiLGkfmuXgt9ZFA+RKOghRq9W7hP4YsYoC/O/qhUoA+nRpKRyqAEgirq97y5VMKOFRv0EKP/R+2nzAYote5r/66RH4ZD4SnN5zM5aekuH3n0RhXkgF1UKXGixjKXobdqIDxIr1gX4/sA58pruTVjBstvXUm1r2jW1DlFzgLr1eTktobw7ZS6fBL6apAwYrU6JBOZTMVgRGD2gGZGdLzJsL/R474zCA9acV2MWzvyNjVxtIOjoc4qUUVg9/noS1ajwwWhIurorc43X+zISz25MD+DkaPBC3XfGk7IxaSre9gRfFgAzrJJSwqj0tUi9Vk6cKmdmirwdN+7BL7ZsXElhoRreSLO" />
      <!--Permite realizar el calculo de resumen de las transacciones por numero de parte-->
      <add key="Form1calcular" value="5u0n7Wyyqdw1th+ko1OSA7agz0JkALCIB+VOKHCWwaJ+iuio7nJ3P22DAPgN+h0B8hoYXKnhWu1t7sOwlSIxKSQQmVASYdQxuPpoeiLGkfmuXgt9ZFA+RKOghRq9W7hP4YsYoC/O/qhUoA+nRpKRyqAEgirq97y5VMKOFRv0EKP/R+2nzAYote5r/66RH4ZD4SnN5zM5aekuH3n0RhXkgF1UKXGixjKXobdqIDxIr1gX4/sA58pruTVjBstvXUm1r2jW1DlFzgLr1eTktobw7ZS6fBL6apAwYrU6JBOZTMVgRGD2gGZGdLzJsL/R474zCA9acV2MWzvyNjVxtIOjoQ3tKvRkAAdZ3PvJ5mUW8o+dEDfbeRvigUG4v1aZxYLnyg8XWOkLMzNMR/8pi2dytA==" />
      <!--Permite realizar el calculo del detalle de las transacciones por numero de parte -->
      <add key="Form1calcularDetalle" value="5u0n7Wyyqdw1th+ko1OSA7agz0JkALCIB+VOKHCWwaJ+iuio7nJ3P22DAPgN+h0B8hoYXKnhWu1t7sOwlSIxKSQQmVASYdQxuPpoeiLGkfmuXgt9ZFA+RKOghRq9W7hP4YsYoC/O/qhUoA+nRpKRyqAEgirq97y5VMKOFRv0EKP/R+2nzAYote5r/66RH4ZD4SnN5zM5aekuH3n0RhXkgF1UKXGixjKXobdqIDxIr1gX4/sA58pruTVjBstvXUm1r2jW1DlFzgLr1eTktobw7ZS6fBL6apAwYrU6JBOZTMVgRGD2gGZGdLzJsL/R474zCA9acV2MWzvyNjVxtIOjoc4qUUVg9/noS1ajwwWhIurorc43X+zISz25MD+DkaPBC3XfGk7IxaSre9gRfFgAzveWzzGYot3WBv4lht2N/LsYxQcK+qFERQFrbMueC8gQAu9R33AEMtNe/ihyjVR6Pw==" />
      <!--Obtiene el nombre de la empresa-->
      <add key="Form1nombre_empresa" value="qyLh2HccZCnLV1tVwLUgdmQr0sW76iq9qh0440WMPZIjLuLGHfPsrheILJKvSLk9" />
      <!--Valida si el usuario actual puede ver la columna de COSTO en la columna VALUE = Y-->
      <add key="Form1usuarioPuedeVerCosto" value="WFHOH8qvW+hkYOn+4E7pWUmFkD9aJ5+nD2CnZsK314z8PVrPmVQX3bKMig2Kqvp31Kv6w4Nz4sQltuLltdgnJ8412Z97KqOCnN+a8iNFAJsIACF0VaXW1PZDq/pTP6hSeYMUh7Wmzendq2LAwb9pBYt4rib8qE5PtbUAfzRP1yQ=" />
      <!--Valida si el usuario actual puede ver el Kardex Consolidado en la columna VALUE = Y-->
      <add key="Form1usuarioPuedeVerConsolidado" value="WFHOH8qvW+hkYOn+4E7pWUmFkD9aJ5+nD2CnZsK314z8PVrPmVQX3bKMig2Kqvp31Kv6w4Nz4sQltuLltdgnJ8412Z97KqOCnN+a8iNFAJsIACF0VaXW1PZDq/pTP6hSeYMUh7Wmzendq2LAwb9pBdRqLmNPL9sKiPm09Q7MuoEWdKk55/w5DA==" />
      <!--Busqueda por articulo-->
      <add key="Form1btnArticulo_Click2" value="3mYEuMrqifmJpLVENWhtG+Gi8MzP8khxu1u9P9KQCYUVw60JGDz+xGIyBwg7M/V8IC4HqOLuifqxrIVMPkKg1pkixJ02hvuUbwgb3q2u266YFqLsetkfnqWey0g+eHUMKvWznl+2ldA/W5AB3oYXoWFot5hVoegybxNXxD+vt2GgL//pkGOHCOa7Dh5MdvKqdiHADAkh3Ccz3lvQIFcGW+eodieFdj8n" />
      <!--Busqueda por articulo en 2 Base de Datos-->
      <add key="Form1btnArticuloAl_Click" value="3mYEuMrqifnrzEkuV9TCUgXdztGIeef1I++kSaB0A3iA/SFD9DMV0jVO/uR+UUIJ9JvsCtkEgqRwlY59PsgCrbMMCGMSyK1wGEargxntyMbE5UlQ5/6Atc05qsRrX7cYrKZc/WP33suLGVB5ehlZbVbEWwm8nRiFESu0/JqOYpMmUc+woRgzbWjS/CoXyWZx84QMmQ3j6+KMFuqa0MiCSrRwxbC2+VYnwGCbEH19ju2zu7qEsUt7tnr/rabPWYwnSxKafiwVTS2lnstIPnh1DHYvlYaxgJ+eqdsHhlMSwpxZu1UBeZq1hM/EFGAOn6mreGFdU4qa/rzrzEkuV9TCUgXdztGIeef1UHWH0KwgPd+a622yIkZ93F1QfTyJkvmO" />
      <!--Busqueda por familia en 2 Base de Datos-->
      <add key="Form1btnFamilia_Click" value="3mYEuMrqiflE8/f2TL27aXbPnG4S/GchVTaiiylST+kVw60JGDz+xHYf158BCnUrKRVQvhEEJnKAcxhSgVBGxKnfIHpAIWVPU6UUh4iGy+H26QWUuwkeU5BMxa4jenElL7u72x+PkKxWSS4LcOdsaK91tGzhD28f2TgIWFPatoUMuylmCYrwUv2BP73JPqypWC+iw5bKtQfovTIF8AuMrF/zSnSeWZdwZ/ErnHl4B1PYVFebfiGWf1ekisbFq+cl0aGnXOV72jR50Nkg2sPQ945VcdIGYy7hVJQf8FvM+3w/W5AB3oYXoX3+wosgeiJ2W9cbb87tb/Vp4SmHTothqH3+wosgeiJ2W9cbb87tb/XumZYl/7gP9g==" />
      <!--Busqueda por familia-->
      <add key="Form1btnFamilia_Click2" value="3mYEuMrqifk5m16WmfrDzZDdIeqYbOK2Y3Lc7i0g67yBDcX0/DorI/aQNBrdZB0Q6LVyqyzOuJ6lnstIPnh1DLBLj/LL+AVuXSLwMmfwBtpXpIrGxavnJWl2Q1tTtYybkEzFriN6cSUvu7vbH4+QrHtaJgxbXTwtW9cbb87tb/Vp4SmHTothqGFot5hVoegyRPP39ky9u2l2z5xuEvxnIfNAOgVlT4qu" />
      <!--Busqueda por almacen en 2 Base de Datos-->
      <add key="Form1btnAlmacen_Click" value="zvgCeEctBGgDjADPKpgJ3Lotn2WkH2TJm9h7o7mqTkstpOFDKdhS3bVOEPy4irpTDAv7l3d79oG0cMWwtvlWJ8Sh6CBYffUTQUZZ8vCHG3ik13wxxAuBMAGX7CBGzWoF" />
      <!--Busqueda por almacen-->
      <add key="FormbtnAlmacen_Click" value="zvgCeEctBGgDjADPKpgJ3Lotn2WkH2TJm9h7o7mqTkuMoZp67ZFVMwubjuLs+ke6trlG+yoHuTE=" />
      <!--Busqueda por localizacion en 2 Base de Datos-->
      <add key="Form1btnLocal_Click" value="zvgCeEctBGjRKVJ9Bzy09v3U+OdsDZ9eJIs/wHv8R1/sGGkmq2St1gCRpMIwMkLesCmMCHCzAQTcLQEZesdM6J6xPq6qWJd6JlHPsKEYM20C1p5D7nnW4ftBFjSwj90zG/+3gJSkm1FqNU7//PiAfEF5Xggu4k8wnRrdba0Y5oyKadNBMZwRdwubjuLs+ke6trlG+yoHuTE=" />
      <!--Busqueda por localizacion -->
      <add key="Form1btnLocal_Click2" value="zvgCeEctBGjRKVJ9Bzy09v3U+OdsDZ9eJIs/wHv8R1/sGGkmq2St1gCRpMIwMkLesCmMCHCzAQTcLQEZesdM6CaiQi3vhekBpNd8McQLgTABl+wgRs1qBQ==" />
      <!--Procedimiento que obtiene el Kardex consolidado-->
      <!-- dbo.PRC_OBTENER_KDX_CONSOLIDADO  -->
      <!--Busqueda de sites-->
      <add key="MigracionPorLote_Sites" value="zvgCeEctBGhmyt1RcfgMAVgDvuu0j2A9LKpxskECMRgWHQI/45pKJBZ0qTnn/DkM" />
      <!--Busqueda de parte-->
      <add key="MigracionPorLote_Part" value="5u0n7WyyqdzV1HXut9ik2BhnYENkJwsd5b3rdP9SZUZsFF0c3p/TrQBYFR/ac//MKGG0gmw4NWEid5Zlj94JX3rVuXLwTLoqPRiVlG+9uExad90+nI5HTndb/LylMOH386fxynkqIdmlLS1rTKZaAMR+yq9dMC/ATnSDkWecfo6JyGEz5V0LtDPeW9AgVwZbiSGUxZNBwdesX0z7V0xHXl0LkziyTkTfLUPqFZ1gVVD7VZ/VJk7FWdoJSZKfShzukkPB83FcZuI=" />
      <!--Inserta registro en Trace-->
      <add key="MigracionPorLote_Trace" value="Ij/kdORyqrgirCGSouWULq3YLHGOjqx+zse3PnTVY8iUhCoHmHS7/9eGEvzF2hE075crZyuVCfQNkDn1vL+9dFDupW29p8hcCxedl7RmZ65ZU0fO4M0WLui0Lmd7DeGSlPokZO73bzQ86ftNZ3Cr46eUAbkFmFPMadBDDM+GRtSETE86p3HdoYaVbkID2Ju7RCU3jrYsdL1eBFRbzuZpJ9AU3K9Gfe/FRCU3jrYsdL0uxQQanrCKHPIBo1ZWYcQGRCU3jrYsdL3vYYzG/vsXYuYWHDbQEXdf/pIMSsR44FWwwdY4MhFOBEDKNXFJnbKaRR747r7kBPKNHZSB+tk61GgZ83GIaglNNI17zyh2m9e43WcGpQd4EnkBHPnxJA4NFPwDAgxL7etlpQaevPr0cMt94uIm7ABl" />
      <!--Busca UDFs-->
      <add key="MigracionPorLote_UDF" value="zvgCeEctBGgWVgWzT71U7dMEg54rwZXSTMiSEjSyTf/utT0yIFpSo3/uHoW1xF5/tc4hKFs7z6X/cp52u0CxivEdlw4BDdjeZNsFHWuWqrWxdUqvvbNL4Q==" />
      <!--Busca PartId con UDF-->
      <add key="MigracionPorLote_UDF_PartId" value="zvgCeEctBGgIyZGF5/DP1JYyrVQiMC/c3Q6RwO2m4VCdCWzlj2XcHbaIwVrdzETKFPU+GwZXuxrPTisPG0sEieKdcRVDPv2ZQaacsae5BoEIYdUFgCobwN22ZD9cDwi836GRZmGhLriN262FqPQY5zsqA48EDQfrtwRS51+BEvM7SF1UajlPAdwQDLxTMyP+yt9cFXGgROWwiWyW0RowZSuXpiDuHyhm" />
    </querys>
  </customConfigurationSection>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.85.4.369" newVersion="0.85.4.369" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>